It is used where we can rank the categories

Examples :
    
    Grades
    
    Experience of a Batsaman,Software engineer
    
    Weekdays
    
    etc

In [1]:
import datetime

In [3]:
t = datetime.datetime.today()

In [4]:
a = [t-datetime.timedelta(x) for x in range(0,15)]

In [5]:
a

[datetime.datetime(2020, 9, 16, 14, 52, 19, 355239),
 datetime.datetime(2020, 9, 15, 14, 52, 19, 355239),
 datetime.datetime(2020, 9, 14, 14, 52, 19, 355239),
 datetime.datetime(2020, 9, 13, 14, 52, 19, 355239),
 datetime.datetime(2020, 9, 12, 14, 52, 19, 355239),
 datetime.datetime(2020, 9, 11, 14, 52, 19, 355239),
 datetime.datetime(2020, 9, 10, 14, 52, 19, 355239),
 datetime.datetime(2020, 9, 9, 14, 52, 19, 355239),
 datetime.datetime(2020, 9, 8, 14, 52, 19, 355239),
 datetime.datetime(2020, 9, 7, 14, 52, 19, 355239),
 datetime.datetime(2020, 9, 6, 14, 52, 19, 355239),
 datetime.datetime(2020, 9, 5, 14, 52, 19, 355239),
 datetime.datetime(2020, 9, 4, 14, 52, 19, 355239),
 datetime.datetime(2020, 9, 3, 14, 52, 19, 355239),
 datetime.datetime(2020, 9, 2, 14, 52, 19, 355239)]

In [6]:
import pandas as pd

In [11]:
data = pd.DataFrame(a,columns=["Day"])

In [12]:
data.head()

                         Day
0 2020-09-16 14:52:19.355239
1 2020-09-15 14:52:19.355239
2 2020-09-14 14:52:19.355239
3 2020-09-13 14:52:19.355239
4 2020-09-12 14:52:19.355239

In [15]:
data["Weekday"] = data.Day.dt.weekday_name

In [16]:
data.head()

                         Day    Weekday
0 2020-09-16 14:52:19.355239  Wednesday
1 2020-09-15 14:52:19.355239    Tuesday
2 2020-09-14 14:52:19.355239     Monday
3 2020-09-13 14:52:19.355239     Sunday
4 2020-09-12 14:52:19.355239   Saturday

In [18]:
dictt = {
    "Monday" : 1,
    "Tuesday": 2,
    "Wednesday": 3,
    "Thursday": 4,
    "Friday": 5,
    "Saturday": 6,
    "Sunday": 7
}

In [19]:
data["Weekday_ordinal"]= data.Weekday.map(dictt)

In [20]:
data

                          Day    Weekday  Weekday_ordinal
0  2020-09-16 14:52:19.355239  Wednesday                3
1  2020-09-15 14:52:19.355239    Tuesday                2
2  2020-09-14 14:52:19.355239     Monday                1
3  2020-09-13 14:52:19.355239     Sunday                7
4  2020-09-12 14:52:19.355239   Saturday                6
5  2020-09-11 14:52:19.355239     Friday                5
6  2020-09-10 14:52:19.355239   Thursday                4
7  2020-09-09 14:52:19.355239  Wednesday                3
8  2020-09-08 14:52:19.355239    Tuesday                2
9  2020-09-07 14:52:19.355239     Monday                1
10 2020-09-06 14:52:19.355239     Sunday                7
11 2020-09-05 14:52:19.355239   Saturday                6
12 2020-09-04 14:52:19.355239     Friday                5
13 2020-09-03 14:52:19.355239   Thursday                4
14 2020-09-02 14:52:19.355239  Wednesday                3