In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("/home/shivasai7392/Desktop/DS/Datasets/Titanic/titanic_train.csv",usecols=["Cabin","Survived"])

In [3]:
data.head()

   Survived Cabin
0         0   NaN
1         1   C85
2         1   NaN
3         1  C123
4         0   NaN

In [4]:
data.Cabin.fillna("Missing",inplace=True)

In [5]:
data.isna().sum()

Survived    0
Cabin       0
dtype: int64

In [6]:
data.Cabin = data.Cabin.astype(str).str[0]

In [7]:
data.head()

   Survived Cabin
0         0     M
1         1     C
2         1     M
3         1     C
4         0     M

In [8]:
data.groupby("Cabin").Survived.mean()

Cabin
A    0.466667
B    0.744681
C    0.593220
D    0.757576
E    0.750000
F    0.615385
G    0.500000
M    0.299854
T    0.000000
Name: Survived, dtype: float64

In [9]:
data.Cabin.unique()

array(['M', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [13]:
prob = data.groupby("Cabin").Survived.mean()

In [17]:
prob_df = pd.DataFrame(prob)

In [19]:
prob_df

       Survived
Cabin
A      0.466667
B      0.744681
C      0.593220
D      0.757576
E      0.750000
F      0.615385
G      0.500000
M      0.299854
T      0.000000

In [20]:
prob_df["Died"]= 1-prob_df["Survived"]

In [21]:
prob_df

       Survived      Died
Cabin
A      0.466667  0.533333
B      0.744681  0.255319
C      0.593220  0.406780
D      0.757576  0.242424
E      0.750000  0.250000
F      0.615385  0.384615
G      0.500000  0.500000
M      0.299854  0.700146
T      0.000000  1.000000

In [22]:
prob_df["Probability_ratio"]=prob_df.Survived/prob_df.Died

In [23]:
prob_df

       Survived      Died  Probability_ratio
Cabin
A      0.466667  0.533333           0.875000
B      0.744681  0.255319           2.916667
C      0.593220  0.406780           1.458333
D      0.757576  0.242424           3.125000
E      0.750000  0.250000           3.000000
F      0.615385  0.384615           1.600000
G      0.500000  0.500000           1.000000
M      0.299854  0.700146           0.428274
T      0.000000  1.000000           0.000000

In [24]:
prob_df.Probability_ratio.to_dict()

{'A': 0.875,
 'B': 2.916666666666666,
 'C': 1.4583333333333333,
 'D': 3.125,
 'E': 3.0,
 'F': 1.6000000000000003,
 'G': 1.0,
 'M': 0.42827442827442824,
 'T': 0.0}

In [25]:
a = prob_df.Probability_ratio.to_dict()

In [26]:
data.Cabin = data.Cabin.map(a)

In [27]:
data.head()

   Survived     Cabin
0         0  0.428274
1         1  1.458333
2         1  0.428274
3         1  1.458333
4         0  0.428274