In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("/home/shivasai7392/Desktop/DS/Datasets/Mercedes/train.csv",usecols=["X0","X1","X2","X3","X4","X5","X6",])

In [3]:
data.head()

   X0 X1  X2 X3 X4 X5 X6
0   k  v  at  a  d  u  j
1   k  t  av  e  d  y  l
2  az  w   n  c  d  x  j
3  az  t   n  f  d  x  l
4  az  v   n  f  d  h  d

In [5]:
data.isna().sum()

X0    0
X1    0
X2    0
X3    0
X4    0
X5    0
X6    0
dtype: int64

In [7]:
for i in data.columns:
    print("{} {}".format(i,len(data[i].unique())))

X0 47
X1 27
X2 44
X3 7
X4 4
X5 29
X6 12

In [9]:
data.X0.value_counts().head(10)

z     360
ak    349
y     324
ay    313
t     306
x     300
o     269
f     227
n     195
w     182
Name: X0, dtype: int64

In [10]:
listoftop10X0 = data.X0.value_counts().head(10).index

In [12]:
listoftop10X0 = list(listoftop10X0)

In [13]:
listoftop10X0

['z', 'ak', 'y', 'ay', 't', 'x', 'o', 'f', 'n', 'w']

In [14]:
for i in listoftop10X0:
    data[i] = np.where(data.X0 == i,1,0)

In [15]:
data.head()

   X0 X1  X2 X3 X4 X5 X6  z  ak  y  ay  t  x  o  f  n  w
0   k  v  at  a  d  u  j  0   0  0   0  0  0  0  0  0  0
1   k  t  av  e  d  y  l  0   0  0   0  0  0  0  0  0  0
2  az  w   n  c  d  x  j  0   0  0   0  0  0  0  0  0  0
3  az  t   n  f  d  x  l  0   0  0   0  0  0  0  0  0  0
4  az  v   n  f  d  h  d  0   0  0   0  0  0  0  0  0  0

In [16]:
data.drop("X0",axis = 1,inplace=True)

In [17]:
data.head()

  X1  X2 X3 X4 X5 X6  z  ak  y  ay  t  x  o  f  n  w
0  v  at  a  d  u  j  0   0  0   0  0  0  0  0  0  0
1  t  av  e  d  y  l  0   0  0   0  0  0  0  0  0  0
2  w   n  c  d  x  j  0   0  0   0  0  0  0  0  0  0
3  t   n  f  d  x  l  0   0  0   0  0  0  0  0  0  0
4  v   n  f  d  h  d  0   0  0   0  0  0  0  0  0  0