In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
data = pd.read_csv("train.csv",usecols=["X0","X1","X2","X3","X4","X5","X6","X8"])

In [4]:
data.head()

   X0 X1  X2 X3 X4 X5 X6 X8
0   k  v  at  a  d  u  j  o
1   k  t  av  e  d  y  l  o
2  az  w   n  c  d  x  j  x
3  az  t   n  f  d  x  l  e
4  az  v   n  f  d  h  d  n

In [7]:
for i in data.columns:
    print("{} {}".format(i,len(data[i].unique())))

X0 47
X1 27
X2 44
X3 7
X4 4
X5 29
X6 12
X8 25

In [8]:
data.X3.value_counts()

c    1942
f    1076
a     440
d     290
g     241
e     163
b      57
Name: X3, dtype: int64

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Data columns (total 8 columns):
X0    4209 non-null object
X1    4209 non-null object
X2    4209 non-null object
X3    4209 non-null object
X4    4209 non-null object
X5    4209 non-null object
X6    4209 non-null object
X8    4209 non-null object
dtypes: object(8)
memory usage: 263.1+ KB

In [14]:
top10 = data.X0.value_counts().sort_values(ascending = False).head(10).index

In [16]:
top10.values

array(['z', 'ak', 'y', 'ay', 't', 'x', 'o', 'f', 'n', 'w'], dtype=object)

In [18]:
for i in top10:
    data[i] = np.where(data.X0 == i,1,0)

In [29]:
s = ["X0"]

In [31]:
s.extend(top10)

In [35]:
data[s].head(10)

   X0  z  ak  y  ay  t  x  o  f  n  w
0   k  0   0  0   0  0  0  0  0  0  0
1   k  0   0  0   0  0  0  0  0  0  0
2  az  0   0  0   0  0  0  0  0  0  0
3  az  0   0  0   0  0  0  0  0  0  0
4  az  0   0  0   0  0  0  0  0  0  0
5   t  0   0  0   0  1  0  0  0  0  0
6  al  0   0  0   0  0  0  0  0  0  0
7   o  0   0  0   0  0  0  1  0  0  0
8   w  0   0  0   0  0  0  0  0  0  1
9   j  0   0  0   0  0  0  0  0  0  0