In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("/home/shivasai7392/Desktop/DS/house_prize_prediction_train.csv",usecols=["BsmtQual","FireplaceQu","GarageType","SalePrice"])

In [3]:
data.head()

  BsmtQual FireplaceQu GarageType  SalePrice
0       Gd         NaN     Attchd     208500
1       Gd          TA     Attchd     181500
2       Gd          TA     Attchd     223500
3       TA          Gd     Detchd     140000
4       Gd          TA     Attchd     250000

### Note

If there are more frequent categories for a label
then we can consider nan value as a new category something like "unknown"or "missing"or"N"

In [4]:
data.BsmtQual.fillna("Missing",inplace = True)

In [5]:
data.isna().sum()

BsmtQual         0
FireplaceQu    690
GarageType      81
SalePrice        0
dtype: int64

In [6]:
data.BsmtQual.value_counts()

TA         649
Gd         618
Ex         121
Missing     37
Fa          35
Name: BsmtQual, dtype: int64