In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("/home/shivasai7392/Desktop/DS/house_prize_prediction_train.csv",usecols=["BsmtQual","FireplaceQu","GarageType","SalePrice"])

In [3]:
data.head()

  BsmtQual FireplaceQu GarageType  SalePrice
0       Gd         NaN     Attchd     208500
1       Gd          TA     Attchd     181500
2       Gd          TA     Attchd     223500
3       TA          Gd     Detchd     140000
4       Gd          TA     Attchd     250000

In [4]:
data.isna().sum()

BsmtQual        37
FireplaceQu    690
GarageType      81
SalePrice        0
dtype: int64

In [5]:
import numpy as np

In [6]:
data["BsmtQual_nan"] = np.where(data.BsmtQual.isnull(),1,0)

In [7]:
data.head()

  BsmtQual FireplaceQu GarageType  SalePrice  BsmtQual_nan
0       Gd         NaN     Attchd     208500             0
1       Gd          TA     Attchd     181500             0
2       Gd          TA     Attchd     223500             0
3       TA          Gd     Detchd     140000             0
4       Gd          TA     Attchd     250000             0

In [9]:
data.BsmtQual.fillna(data.BsmtQual.mode()[0],inplace=True)

In [10]:
data.head()

  BsmtQual FireplaceQu GarageType  SalePrice  BsmtQual_nan
0       Gd         NaN     Attchd     208500             0
1       Gd          TA     Attchd     181500             0
2       Gd          TA     Attchd     223500             0
3       TA          Gd     Detchd     140000             0
4       Gd          TA     Attchd     250000             0

In [11]:
data.isna().sum()

BsmtQual          0
FireplaceQu     690
GarageType       81
SalePrice         0
BsmtQual_nan      0
dtype: int64