#### Arbitrary value imputation

It consists of replacing nan by an arbitrary value

This technique was derived from kaggle competitions

1.It should be more frequently present

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("/home/shivasai7392/Desktop/DS/Assignments/Kaggle/Titanic/train.csv",usecols=["Embarked","Age","Fare","Survived"])

In [3]:
data.head()

   Survived   Age     Fare Embarked
0         0  22.0   7.2500        S
1         1  38.0  71.2833        C
2         1  26.0   7.9250        S
3         1  35.0  53.1000        S
4         0  35.0   8.0500        S

In [4]:
data.isna().sum()

Survived      0
Age         177
Fare          0
Embarked      2
dtype: int64

In [5]:
def impute_nan(data,variable,least_outlier,max_outlier):
    data[variable+"_least_outlier"] = data[variable].fillna(least_outlier)
    data[variable+"_max_outlier"] = data[variable].fillna(max_outlier)

#### Advantages

1.Easy to implement

2.Captures the importance of missigness if there is one

#### Disadvantages

1.Distorts the didtribution of the original variable

2.if missingness is not important, it may mask the predictive power of the original variable by distorting its distribution

3.Hard to decide which value to use