## Replacing the categories with their mean

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("/home/shivasai7392/Desktop/DS/Datasets/Titanic/titanic_train.csv",usecols=["Cabin","Survived"])

In [3]:
data.head()

   Survived Cabin
0         0   NaN
1         1   C85
2         1   NaN
3         1  C123
4         0   NaN

In [4]:
data.Cabin.fillna("Missing",inplace=True)

In [5]:
data.isna().sum()

Survived    0
Cabin       0
dtype: int64

In [6]:
data.Cabin = data.Cabin.astype(str).str[0]

In [7]:
data.head()

   Survived Cabin
0         0     M
1         1     C
2         1     M
3         1     C
4         0     M

In [9]:
cabinmean = data.groupby("Cabin").Survived.mean()

In [11]:
cabinmean = cabinmean.to_dict()

In [12]:
cabinmean

{'A': 0.4666666666666667,
 'B': 0.7446808510638298,
 'C': 0.5932203389830508,
 'D': 0.7575757575757576,
 'E': 0.75,
 'F': 0.6153846153846154,
 'G': 0.5,
 'M': 0.29985443959243085,
 'T': 0.0}

In [14]:
data.Cabin = data.Cabin.map(cabinmean)

In [15]:
data.head()

   Survived     Cabin
0         0  0.299854
1         1  0.593220
2         1  0.299854
3         1  0.593220
4         0  0.299854